*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;

}

.first-layer{
	height: 100vh;
	text-align: center;

	
}
#about-first-layer{
		height: 100vh;
		text-align: center;

	}
#skills-first-layer{
		height: 100vh;
		text-align: center;

	}


#second-layer {
	padding:20px;
	margin-top: 10%;
	width: 1000px;

}



.navbar-toggler-icon{
	background-color: white !important;

}



#about-second-layer a{
	text-decoration: none;
}

#about-second-layer h3:hover{
	color: yellow;
}

#home{
	background-color: transparent;
}




#landing-page{

background-image: url('https://images.unsplash.com/photo-1553880376-2dec478c8e3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80');

background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

#about-page{
	
	background-image: url(https://images.unsplash.com/photo-1489619243109-4e0ea59cfe10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#skills-page{
	background-image: url(https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed
	
}

#contact-page{
	
	background-image: url(https://images.unsplash.com/photo-1485770958101-9dd7e4ea6d93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed
	
	
}


.navbar .navbar-brand i{
	color: white;


}

.navbar .navbar-brand i:hover{
	color: yellow;
}

#btn-home{
	background-color: #d18d49;

}

#btn-home:hover{
	
}

.nav-item{
	padding: 0.5em 1.1em 0.5em 1.1em;


}


.nav-link span:hover{

	color: yellow;

}

#workexp1{
	background-color: #f2f2f2;
	
	}


#zuitt{
	border-radius: 0px 1000px 1000px 0px;
	background-color: grey;
}

#transcom{
	border-radius: 0px 1000px 1000px 0px;
	background-color: blue;
}

#telus{
	border-radius: 0px 1000px 1000px 0px;
	background-color: violet;
}

#accenture{
	border-radius: 0px 1000px 1000px 0px;
	background-color: orange;
}

#career{
	background-color: #f2f2f2;
}
/*footer*/

#footer{
	background-color: #d18d49;
	padding:50px;

}

#footer-email{
	text-decoration: none;
}

#footer-email p:hover{
	color: yellow;
}

#footer-contact{
	text-decoration: none;
}

#footer-contact h4:hover{
	color: yellow;
}


#follow-me i{
	color: white;
}

#follow-me i:hover{
	color: yellow;
}

#footer-about a{
	text-decoration: none;
	color: white;
}

#footer-about a:hover{
	color: yellow;
}

#footer-skills a{
	text-decoration: none;
	color: white;
}

#footer-skills a:hover{
	color: yellow;
}

#hr-footer{
	background-color: white;
}



#skills-second-layer {
	padding:20px;
	margin-top: 10%;

}

#hobbies-link{
	text-decoration: none;
	
}
#hobbies-link h2:hover{
	color: yellow;
	
}

#about-second-layer{
	padding:20px;
	margin-top: 10%;

}

#skill-btn{

	background-color: #d18d49;
	padding:10px;
	width: 150px;
}
#skill-btn:hover{
	background-color: red;
}

#skill-btn h3{
	margin-top: 8px;
	/*padding: 0 10px 10px 0;*/
}

#skill-link{
	text-decoration: none;	

}
#skill-link h2:hover{
	color: yellow;
}

/*fontawesome Icons*/

#html-icon{
	color: #e34f26;
}

#text-html {
	text-decoration: none;
}

#text-html span:hover{
	text-shadow: 2px 2px 2px red;
}

#html-card{
	/*background-color: black;*/
}

#text-css{
	text-decoration: none;
}
#css-card{

}

#html-icon i:hover{
	height: 100px; width: 100px;
	transform-origin: 50px 50px;
	transform: rotate(45deg);
}

#css-icon{
	color: #002561;
}




#js-icon{
	color: #f7df1e;
}

#bootstrap-icon{
	color: #563d7c;
}

/*Contact*/

#left-contact{
	height: 100vh;
	background: #f2f2f2;
}

#bottomleft-contact{
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 10%; 

}

#contact-second-row{
	padding-left: 20px;
}

#right-contact{
	height: 100vh;
	background-color: #f2f2f2;
	
}

#bottomright-contact{
	margin-top: 10%;
	background-color: white;
	padding:50px;
}

#btn-form-contact{
	background-color: #d18d49;
}

#btn-form-contact:hover{
	background-color: red;
}

#contact-email{
	text-decoration: none;
	color: black;
}

#contact-email p:hover{
	color: yellow;
}

.form-group{
	padding: 5px;
}


#maps{
	padding-top: 4%;

}

@media (max-width: 575.98px) { 
	#second-layer h1 {
	padding:20px;
	margin-top: 20%;
	font-size: 150%;

} 
	#second-layer img{
		width: 33%
	}
	
	#second-layer p{
		font-size: 80%
	}
	#about-second-layer h1{
		padding:20px;
		margin-top: 20%;
		font-size: 150%;
	}

	#about-second-layer h3{
		font-size: 80%;
	}

	#skills-second-layer h1{

		font-size: 150%;
		padding:20px;
		margin-top: 20%;
	}
	
	#skills-second-layer h2{
		font-size: 100%;
	}
	
	#hobbies-first-layer h4{
		font-size: 100%;
	}
	
	
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 



// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 



}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

 }


/*hobbies*/

.basketball-img{
	height: 500px;
	width: 500px;
}

.gundam-img{
	height: 500px;
	width: 500px;
}

.movies-img{
	height: 500px;
	width: 500px;

}

/*carousel*/

#basketball{
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
}

.carousel-item{
	position: relative;
	width: 500px;
	height: 500px;
}



.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

.hvr-glow{
	display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0)
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
  	margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}

.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   
    transition-duration: 0.3s;
    
    transition-property: transform;
}
.hvr-grow-rotate:hover,
.hvr-grow-rotate:focus,
.hvr-grow-rotate:active{
	margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}

.hvr-wobble-bottom {
    display: inline-block;
    vertical-align: middle;
    
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   
    transform-origin: 100% 0;
}

.hvr-wobble-bottom:hover,
.hvr-wobble-bottom:focus,
.hvr-wobble-bottom:active{
	margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}